:root {
    --blue-1: #4464AD; 
    --blue-2: #A4B0F5;
    --orange-1: #F58F29;
    --white: #fff;
    --gray-1: #e5e5e5;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-1);
}

.container {
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}